
<div class="container mt-5">
    <div class="input-group">
        <input type="text" class="form-control" placeholder="Loan Number" #loanNumberInput>
        <span class="input-group-btn">
             <button class="btn btn-primary" type="button" (click)="onSearch()">Search</button>
        </span>
        <span class="input-group-btn">
            <button class="btn btn-primary" type="button" (click)="onAdd()">Add</button>
       </span>
     </div>
     <hr>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Loan Number</th>
                    <th>Loan Amount</th>
                    <th>Loan Type</th>
                    <th>Loan Term</th>
                    <th>Action</th>
                </tr>
            </thead>
                <tr *ngFor="let loanApp of loanApplications">
                    <td>{{loanApp.firstName}}</td>
                    <td>{{loanApp.lastName}}</td>
                    <td>{{loanApp.loanNumber}}</td>
                    <td>{{loanApp.loanAmount}}</td> 
                    <td>{{loanApp.loanType}}</td> 
                    <td>{{loanApp.loanTerm}}</td> 
                    <td>
                        <button class="btn btn-primary" (click)="editLoanApplication(loanApp)" >EDIT</button>
                        <button class="btn btn-danger" (click)="deleteLoanApplication(loanApp.id)">DELETE</button>
                    </td>
                </tr>
            <tbody>
                
            </tbody>
        </table>
</div>

